TempratureMonitor/TempratureMonitor/Service References/HCMIS.Sensors/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SenserService.hcmis.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SenserService.hcmis.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SenserService.hcmis.org/">
      <s:element name="GetLatestTempratureReadingFromDB">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestTempratureReadingFromDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestTempratureReadingFromDBResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLiveTempratureReading">
        <s:complexType />
      </s:element>
      <s:element name="GetLiveTempratureReadingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLiveTempratureReadingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestTempratureReadingFromDBSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestTempratureReadingFromDB" />
  </wsdl:message>
  <wsdl:message name="GetLatestTempratureReadingFromDBSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestTempratureReadingFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetLiveTempratureReadingSoapIn">
    <wsdl:part name="parameters" element="tns:GetLiveTempratureReading" />
  </wsdl:message>
  <wsdl:message name="GetLiveTempratureReadingSoapOut">
    <wsdl:part name="parameters" element="tns:GetLiveTempratureReadingResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetLatestTempratureReadingFromDB">
      <wsdl:input message="tns:GetLatestTempratureReadingFromDBSoapIn" />
      <wsdl:output message="tns:GetLatestTempratureReadingFromDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLiveTempratureReading">
      <wsdl:input message="tns:GetLiveTempratureReadingSoapIn" />
      <wsdl:output message="tns:GetLiveTempratureReadingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestTempratureReadingFromDB">
      <soap:operation soapAction="http://SenserService.hcmis.org/GetLatestTempratureReadingFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveTempratureReading">
      <soap:operation soapAction="http://SenserService.hcmis.org/GetLiveTempratureReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestTempratureReadingFromDB">
      <soap12:operation soapAction="http://SenserService.hcmis.org/GetLatestTempratureReadingFromDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveTempratureReading">
      <soap12:operation soapAction="http://SenserService.hcmis.org/GetLiveTempratureReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.2.154/Sensorservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.2.154/Sensorservice/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>